* {
    box-sizing: border-box;
}

body {
    padding: 0%;
    margin: 0%;
}

.calc {
    width: 400px;
    background-color: black;
    color: whitesmoke;
}

.screen{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: rgb(0, 255, 225);
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0%;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color:aquamarine;
}

.calc-button:last-child {
    background-color: orange;
    color:white ;
}

.calc-button:last-child:hover {
    background-color: rgb(255, 221, 0);
}

.double{
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}